*{
margin:0px;
padding:0px;
}


body{
background-image:url("images/texture.jpg");
backgroud-size:cove
background-repeat:no-repeat;
}

.box{
width:380px;
height:280px;
padding:20px;
border:4px  solid #ccc;
border-radius:8px;

}

h2{
text-align:center;
font-size:25px;
font-weight:bold;
color:whitesmoke;
}

input[type="text"]{
text-align:center;
font-size:18px;
color:salmon;
}

input[type="email"]{
text-align:center;
font-size:18px;
color:salmon;
}

input[type="submit"]{
width:45%;
text-align:center;
font-size:18px;
color:salmon;
background-color:grey;
color:maroon;
border-radius:14px;
}

input[type="submit"]:hover{
background-color:#ccc;
border-radius:8px;
}
